$primaryColor: #000000; 
$secondaryColor: #d9d9d9;
$tertiaryColor: #4d4d4d;
$quadrupleColor: #1d295f;

$defaultFont:'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;